.pokemon{
    display: flex;
    flex-direction: row;
    min-height: 40px;
    width: 95%;
    margin: 0 auto;
    transition: transform 0.1s ease-in-out 0s;
    border: 1px solid var(--app-light-blue);
}

.pokemon:hover{
    transform: scale(1.05, 1.05);
}

.pokemon-type{
    display: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid var(--app-light-blue);
    padding: 5%;
}

.pokemon-name{
    width: 100%;
    font-size: 1.5rem;
}

.pokemon-lvl{
    display: none;
    width: 25%;
    font-size: 2rem;
    border-left: 1px solid var(--app-light-blue);
}

@media (min-width: 320px)
{
    .pokemon-name{
        font-size: 1.7rem;
    }
}

@media(min-width: 420px)
{
    .pokemon-type{
        display: flex;
        padding: 1%;
        font-size: 1.8rem;
    }

    .pokemon-name{
        width: 70%;
        font-size: 1.8rem;
    }

    .pokemon-lvl{
        display: flex;
    }

    .pokemon{
        min-height: 60px;
    }
}

@media (min-width: 576px) {  
    .pokemon{
        min-height: 70px;
    }

    .pokemon-name{
        font-size: 2rem;
    }
}

@media (min-width: 768px) { 
    .pokemon-name{
        font-size: 2.2rem;
    }
}


@media (min-width: 992px) 
{ 
    .pokemon-name{
        font-size: 2.5rem;
    }

    .pokemon-type{
        font-size: 2rem;
    }

}