.pokemon{
    display: flex;
    flex-direction: row;
    min-height: 40px;
    width: 95%;
    margin: 0 auto;
    background: green;
    transition: transform 0.1s ease-in-out 0s;
}

.pokemon:hover{
    transform: scale(1.05, 1.05);
}

.pokemon-type{
    display: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: wheat;
}

.pokemon-name{
    width: 100%;
    background-color: red;
    font-size: 1.5rem;
}

.pokemon-lvl{
    display: none;
    width: 25%;
    background-color: violet;
}

@media (min-width: 320px)
{

}

@media(min-width: 420px)
{
    .pokemon-type{
        display: flex;
    }

    .pokemon-name{
        width: 70%;
    }

    .pokemon-lvl{
        display: flex;
    }

    .pokemon{
        min-height: 60px;
    }
}

@media (min-width: 576px) {  
    .pokemon{
        min-height: 70px;
    }
}

@media (min-width: 768px) { 

 }


@media (min-width: 992px) 
{ 


}


@media (min-width: 1200px) { 
  

 }


@media (min-width: 1400px) {  
    
}