footer{
    font-size: 1.2rem;
    background: var(--app-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-top: 1px solid var(--app-light-blue);
    min-height: 100px;
}

@media (min-width: 320px)
{
    footer{
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) {  
    footer{
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) { 
    footer{
        font-size: 1.9rem;
        padding: 3%;
    }
 }


@media (min-width: 992px) 
{ 
    footer{
        font-size: 2.2rem;
    }

}
