<form (submit)="submitPokemon()" [formGroup]="pokemonForm">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name" formControlName="name">

        <span *ngIf="validateField('name', 'required')">
            This field is required.
        </span>
    </div>

    <div>
        <p>Types: </p>
        <div *ngIf="this.formIsOnEditMode || this.types.length > 0">
            <span *ngFor="let type of this.types">
                {{ type }}
            </span>
        </div>
    
        <dialog #typesDialog>
            <div>
                <div>
                    <label for="type">Type:</label>
                    <input type="text" name="type" id="type" formControlName="type">
                </div>

                <button (click)="addType(typesDialog)">Finish</button>
            </div>
        </dialog>

        <button (click)="typesDialog.show()">Add type</button>
    </div>

    <div>
        <label for="lvl">Lvl found:</label><br>
        <input type="number" name="lvl" id="lvl" formControlName="lvl" min="1">

        <span *ngIf="validateField('lvl', 'required')">
            This field is required.
        </span>

        <span *ngIf="validateField('lvl', 'min')">
            Lvl cannot be above 1.
        </span>
    </div>

    <div>
        <p>Abilities: {{ this.abilities.length}}</p>
        
        <dialog #abilityDialog>
            <div>
                <p>New Ability</p>

                <div>
                    <label for="abilityName">Name:</label>
                    <input type="text" name="abilityName" id="abilityName" formControlName="abilityName">
                </div>
                
                <label for="abilityDesc">Description:</label>
                <input type="text" name="abilityDesc" id="abilityDesc"formControlName="abilityDesc"><br>

                <button (click)="addAbility(abilityDialog)">Finish</button>
            </div>
        </dialog>

        <button (click)="abilityDialog.show()">Add ability</button>
    </div>
    

    <div *ngIf="this.formIsOnEditMode">
        <div *ngIf="this.pokemon?.abilities; else noAbilities" >
            <label for="abilities">Abilities:</label>
            <div *ngFor="let ability of pokemon?.abilities">
                <p>{{ ability.name}}</p>
                <p>{{ ability.description}}</p>
            </div>
        </div>

        <ng-template #noAbilities>
            <p>No abilities registered yet.</p>
        </ng-template>
    
        <div *ngIf="this.pokemon?.evolutionIds?.length; else noEvolutions">
            <label for="Evolutions">Evolutions:</label>
            <div *ngFor="let evolution of this.evolutionsSnapshots">
                <app-one-pokemon [pokemon]="evolution"/>
            </div>
        </div>
    
        <ng-template #noEvolutions>
            <p>No evolutions registered yet.</p>
        </ng-template>

    </div>

    <div *ngIf="!this.formIsOnEditMode">
        <p>Add Evolutions:</p> <br>
        <dialog #evolutionDialog>
            <div>
                <p>Evolutions</p>
                
                <div>
                    <input type="radio" id="evolutionChoice1" name="choice" value="email" />
                    <label for="evolutionChoice1">Create a new Pokemon:</label><br>
                    <input type="text" placeholder="Name"><br>
                    <input type="text" placeholder="Type"><br>
                    <input type="text" placeholder="Lvl"><br>
                </div>
                
                <input type="radio" id="evolutionChoice2" name="choice" value="email" />
                <label for="evolutionChoice2">Add from existing pokemon:</label><br>
                
                <select name="pokemon-select" id="pokemon-select" formControlName="evolutionId">
                    <option *ngFor="let pokemonSnapshot of this.pokemonsSnapshots" 
                        [ngValue]="pokemonSnapshot.id">{{ pokemonSnapshot.name }} - {{ pokemonSnapshot.types }}</option>
                </select> <br>

                <button (click)="addEvolution(evolutionDialog)">Save</button>
                <button (click)="evolutionDialog.close()">Cancel</button>
            </div>
        </dialog>

        <button (click)="showEvolutionMenu(evolutionDialog)">Add Evolution</button>
    </div>

    <button type="submit" class="form-btn" [disabled]="pokemonForm.invalid">Create</button>
</form>