.form-container{
    width: 100%;
    padding: 4% 2% 6% 2%;
    height: fit-content;
}

.form-container > h2{
    
    text-align: center;
    font-size: 1.7rem;
    margin: 0 2% 1% 2%;
    font-weight: 900;
    letter-spacing: 7px;
}

.form-label{
    margin: 4% 0 4% 0;
    font-size: 1.4rem;
    letter-spacing: 5px;
    font-weight: 900;
}

.input-container{
    margin-top: 5%;
}

.new-type{
    border-radius: 10%;
    padding: 4%;
    width: fit-content;
    margin: 0px 10px 10px 0;
    background-color: var(--app-light-blue);
    color: white;
}

.types-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 5px 0;
}


.ability-container{
    margin: 2% 0 2% 0;
    border-radius: 5%;
    font-size: 1.4rem;
    padding: 2%;
    background-color: var(--app-light-blue);
    color: var(--app-white);
}

.ability-name, .ability-description{
    text-align: center;
}

.ability-name{
    font-size: 2rem;
}

.no-entities{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5%;
    text-align: center;
}

.evolution-snapshot
{
    margin: 3% 0 4% 0;
}

.form-btn{
    width: 60%;
    margin: 5% auto;
}

@media (min-width: 320px)
{

}

@media(min-width: 420px)
{
    .form-label{
        margin: 4% 0 4% 0;
        font-size: 1.5rem;
    }

    .no-entities{
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) 
{  
    .form-label{
        
        font-size: 1.7rem;
    }

    .no-entities{
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) { 
    .form-label{
        
        font-size: 1.9rem;
    }

    .no-entities{
        font-size: 1.9rem;
    }
 }


@media (min-width: 992px) 
{ 


}


@media (min-width: 1200px) { 

 }


@media (min-width: 1400px) {  
    
}