/* You can add global styles to this file, and also import other style files */
/*normalize*/
@import url('./assets/css/normalize.css');

/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@font-face {
    src: url('./assets/fonts/Outfit-Regular.ttf');
    font-family: "main-font";
}

/*CSS Variables*/
:root{
    --app-white: whitesmoke;
    --app-navy-blue: navy;
    --app-light-blue:  cornflowerblue;
}


*, h1, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--app-light-blue)
}

a:hover{
    color: var(--app-light-blue)  
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: yellow;
    color: var(--app-light-blue);
    font-size: 1.5rem;
    font-family: "main-font", sans-serif;
    /*text-shadow: 1px 1px 1px blue;*/
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: fit-content;
}

button{
    background-color: var(--app-light-blue);
    border: none;
    color: var(--app-white);
}

/************************************** scroll bar ***************************/

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--app-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--app-light-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--app-light-blue);
}