<form (submit)="create()" [formGroup]="pokemonForm">
    <div>
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name" formControlName="name">

        <span *ngIf="validateField('name', 'required')">
            This field is required.
        </span>
    </div>

    <div>
        <label for="type">Type:</label><br>
        <input type="text" name="type" id="type" formControlName="type">

        <span *ngIf="validateField('type', 'required')">
            This field is required.
        </span>
    </div>

    <div>
        <label for="lvl">Lvl found:</label><br>
        <input type="number" name="lvl" id="lvl" formControlName="lvl" min="1">

        <span *ngIf="validateField('lvl', 'required')">
            This field is required.
        </span>

        <span *ngIf="validateField('lvl', 'min')">
            Lvl cannot be above 1.
        </span>
    </div>

    <button type="submit" class="form-btn" [disabled]="pokemonForm.invalid">Create</button>
</form>